@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

*  {
	padding: 0;
	margin:	0;
}

#hero {
  	padding-top: 0;
  	padding-bottom: 0;
  	width: 100%;
}

header  {
	padding: 20px;
}

body  {
	text-align: center;
	color: #222222;
	background: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
}

ul {
	list-style-type: none;
}

h1 {
  	font-size: 4em;
  	font-family: 'Playfair Display', 'Times New Roman', serif; 
  	letter-spacing: 2px;
}

nav a {
	font-style: bold;
	font-size: 1.25em;
	padding:0 1.5em;
	text-transform: lowercase;
}

a {
	color: rgb(226, 140, 5);
	text-decoration: none;
}

.recipe  {
	text-align: left;
	padding-right: 30%;
	font-family: 'Roboto', 'Arial', sans-serif;
}

.story  {
	text-align: right;
	padding-left: 30%;
	font-family: 'Playfair Display', 'Times New Roman', serif; 
}

section img  {
	width: 100%;
	padding-bottom: 1.25em;
	padding-top: 0.625em;
}


main  {
	padding: 1.875em;
}

footer  {
	padding: 1.25em;
}

h3, h4  {
	margin-bottom: 1em;
}


h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.25em;
}

ul  {
	margin-bottom: 1.25em;
}

p  {
	margin-bottom: 1.25em;
}







